<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Dog name</th>
            <th>Dog Type</th>
        </tr>
        {% for dog in dogs %}
        <tr>
            <td>
                {{dog.name}}
            </td>
            <td>
                {{dog.TYPE}}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>